@use '@/styles/mixins' as *;

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-8);
  padding: var(--space-11) 0;
  border-bottom: 1px solid var(--color-border-primary);

  @include breakpoint(m) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.stat {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.value {
  font-weight: 400;
  font-size: clamp(2.5rem, 1.8rem + 3vw, 5rem);
  letter-spacing: -0.04em;
  line-height: 1;
}

.label {
  font-size: clamp(0.875rem, 0.845rem + 0.129vw, 1rem);
  line-height: 1.4;
  color: var(--color-fg-secondary);
}
